
.sliderAbout{
    background: #e5e5e4;
}
.sliderAbout .carousel-indicators .active {
    width: 10px;
    height: 10px;
    border: 1px solid #fff;
    border-radius: 50%;
    margin-bottom: 1px;
}
.sliderAbout .carousel-indicators {
    left: 50%;
    bottom: 40px;
    width: auto;
    margin-left: -29px;
    display: inline-block;
}
.sliderAbout .carousel-inner .right{
    background-image: none;
}
.sliderAbout .carousel-inner .left{
    background-image: none;
}
.tab-pane .slick-dots li.slick-active button::before {
    border: 1px solid #c0bebd;
    border-radius: 50%;
}

